.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav {
    align-items: center;
    display: inline-block;
    margin: 0px;
}

a.nav {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(211, 235, 240);
    opacity: 0.8;
    color: black;
    align-items: center;
    display: inline-block;
    margin: 0px;
    border-bottom-color: black;
    border-radius: 5px;
  }

a.active {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: dashed;
}

.name {
    float: left;
    align-items: center;
    font-size: 16px;
}

a.name {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.social {
    float: right;
    align-items: center;
}

a.social {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: sans-serif;
}

.subtitle {
    text-align: center;
    font-size: 50px;
}

.main-text {
    text-align: left;
    font-size: 40px;
}
 #menus {
    background-color: white;
}

.jimtainer {
    margin-top: 0%;
}

.jimtainer a {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0%;
    }

.jimtainer h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0%;
    }